<div
  class="container align-middle"
  align="center"
  style="max-width: 500px; margin-top: 100px"
>
  <form class="form-signin">
    <h3 class="form-signin-heading">Please sign in</h3>
    <hr />
    <label for="inputEmail" class="sr-only">Loginname</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="login name"
      required=""
      autofocus=""
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      required=""
    />
    <button
      class="btn btn-lg btn-primary btn-block"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      Sign in
    </button>
  </form>
  <hr />
  <p>DKE PR</p>
</div>
