<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> EnterpriseDbApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto mb-2 mb-md-0">
        <li class="nav-item active" [routerLinkActive]="['']">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['']"
            routerLinkActive="is-active"
            >Home</a
          >
        </li>
       
        <li class="nav-item" [routerLinkActive]="['/department']">
          <a
            class="nav-link"
            tabindex="-1"
            aria-disabled="true"
            [routerLink]="['/department']"
            >Department</a
          >
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['/targetconfig']">
          <a class="nav-link" id="dropdown01" [routerLink]="['/targetconfig']"
            >Target config</a
          >
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['/targetstate']">
          <a class="nav-link" id="dropdown01" [routerLink]="['/targetstate']"
            >Target state</a
          >
        </li>
      </ul>
      <div class="d-flex">
        <button [routerLink]="['/login']" class="btn btn-outline-light">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<main
  class="container-fluid"
  style="margin-block: 100px; max-width: 1920px; min-height: 100%"
>
  <router-outlet></router-outlet>
</main>
